@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif

}

@theme {
  --color-primary: #2563eb;
  --color-primary-light: #60a5fa;
  --color-primary-dull: #1d4ed8;
  --color-light: #f1f5f9;
  --color-borderColor: #e2e8f0;
  --color-surface-light: #f8fafc;
  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
  --color-text-muted: #94a3b8;
}